# 1. 자료형
## Background
- 데이터 타입
- 제어문

## Problem
### 1. myList = `[[1,2,3],[4,5,6],[7,8]]`에 9를 추가하여 `[[1,2,3],[4,5,6],[7,8,9]]`가 되도록 구현해보세요
- append와 insert 두가지 방법으로 풀어보세요

In [1]:
 myList = [[1,2,3],[4,5,6],[7,8]]
# myList[2].append(9)
myList[2].insert(len(myList),9)
myList

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 2. Dictionary를 활용해서 학생들의 이름과 점수를 key와 value로 입력하고 추가, 삭제, 업데이트를 진행해보세요.
1. score라는 dictionary에 하준 90점, 서윤 86점, 지아 80점을 입력하세요.
2. score에 수지 95점을 추가하세요.
3. score에서 지아를 삭제하세요.
4. score에 기창 98점, 남철 60점, 기성 75점을 <u>한번에</u> 추가해보세요

In [7]:
score = {'하준':90,'서윤':86,'지아':80}
score.update({'수지':95})
del score['지아']

score.update({'기창':98,'남철':'60','기성':75})
score

{'하준': 90, '서윤': 86, '수지': 95, '기창': 98, '남철': '60', '기성': 75}

### 3. 다음 리스트에서 중복된 항목을 없애보세요.
```python
myList = [1,3,2,3,7,6,8,4,10,5,3,8,9]```

In [9]:
myList = list(set([1,3,2,3,7,6,8,4,10,5,3,8,9]))
myList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 4. 다음의 세 문장에서 중복으로 사용된 알파벳만 출력해보세요.(대소문자 구분)
- "Hello python"
- "Funny programming"
- "Happy newyear"

In [30]:
st1 = 'Hello python'
st2 = 'Funny programming'
st3 = 'Happy newyear'
temp =list()


for i in range(len(st1)):
    for j in range(len(st2)):
        if(st1[i]==st2[j]):
            temp.append(st1[i])
for i in range(len(st3)):
    for j in range(len(temp)):
        if(st3[i]==temp[j]):
            temp.append(temp[i])
temp = list(set(temp))

print(temp)

['n', 'o', 'y', 'p', ' ']

### 5. 다음과 같은 규칙을 가진 숫자의 합을 for문을 사용해서 구현하세요.
- 1 + (1 + 3) + (1 + 3 + 5) + (1 + 3 + 5 + 7) + ... + (1 + 3 + ... + 19)

In [14]:
total=0
count =1
for i in range(10):
    num=1
#     print('total==',total)
    for j in range(i+1):
        print('num은',num,'count는',count)
        total = total + num
        num = num+2
        count= count+1
print(total)

num은 1 count는 1
num은 1 count는 2
num은 3 count는 3
num은 1 count는 4
num은 3 count는 5
num은 5 count는 6
num은 1 count는 7
num은 3 count는 8
num은 5 count는 9
num은 7 count는 10
num은 1 count는 11
num은 3 count는 12
num은 5 count는 13
num은 7 count는 14
num은 9 count는 15
num은 1 count는 16
num은 3 count는 17
num은 5 count는 18
num은 7 count는 19
num은 9 count는 20
num은 11 count는 21
num은 1 count는 22
num은 3 count는 23
num은 5 count는 24
num은 7 count는 25
num은 9 count는 26
num은 11 count는 27
num은 13 count는 28
num은 1 count는 29
num은 3 count는 30
num은 5 count는 31
num은 7 count는 32
num은 9 count는 33
num은 11 count는 34
num은 13 count는 35
num은 15 count는 36
num은 1 count는 37
num은 3 count는 38
num은 5 count는 39
num은 7 count는 40
num은 9 count는 41
num은 11 count는 42
num은 13 count는 43
num은 15 count는 44
num은 17 count는 45
num은 1 count는 46
num은 3 count는 47
num은 5 count는 48
num은 7 count는 49
num은 9 count는 50
num은 11 count는 51
num은 13 count는 52
num은 15 count는 53
num은 17 count는 54
num은 19 count는 55
385